<div class="content">
  <div class="db-intro">
    <h1 class="mb-3"> <i class="fa fa-tachometer" aria-hidden="true"></i> My Dashboard</h1>

  </div>
</div>


<div class="content">
  <div class="stats-db">
    <div class="stat-card">
      <p><i class="fa fa-line-chart" aria-hidden="true"></i> You profile  </p>
      <h1>Refiller</h1>
    </div>

    <div class="stat-card">
      <p><i class="fa fa-map-marker" aria-hidden="true"></i> Total completed bookings</p>
      <h1>#<%= Booking.count %> </h1>
    </div>

    <div class="stat-card">
      <p><i class="fa fa-line-chart" aria-hidden="true"></i> Ongoing bookings </p>
      <h1>#<%= Booking.count %> </h1>
      <%# <p>3  <i class="fa fa-sort-asc" aria-hidden="true"></i> This month</p> %>
    </div>
    <div class="stat-card">
      <p><i class="fa fa-line-chart" aria-hidden="true"></i> Potential revenue on current bookings </p>
      <h1>$10,000</h1>
      <%# <p>125  <i class="fa fa-sort-asc" aria-hidden="true"></i> This month</p> %>
    </div>

  </div>
</div>


<div id="my-vm-db" style=" margin-top: 30px" >
 <h1 class="ml-3"> Auto-Mates running low in stock..</h1>

        <% @vending_machines.each do |vending_machine|%>
            <div class="card-product m-3">

              <img src="https://cdn-icons-png.flaticon.com/512/821/821356.png"/>
              <div class="db-card-content">
                <div class="card-product-infos">
                  <h2> <%= link_to vending_machine.name, vending_machine_path(vending_machine) %></h2>
                  <p> <strong><%= vending_machine.address%> |</strong> <%= vending_machine.description%> </p>
                </div>
              </div>

              <%= simple_form_for [vending_machine, @booking] do |f| %>
                      <%= f.submit "Book for refill", class: 'btn' %>
                    <% end %>
              </div>
        <%end %>
</div>
