<div class="content">
  <div class="db-intro">
    <h1 class="mb-3"> <i class="fa fa-tachometer" aria-hidden="true"></i> My Dashboard</h1>

  </div>
</div>


<div class="content">
  <div class="stats-db">
    <div class="stat-card">
      <p><i class="fa fa-line-chart" aria-hidden="true"></i> Total Income </p>
      <h1>$10,000</h1>
      <p>125  <i class="fa fa-sort-asc" aria-hidden="true"></i> This month</p>
    </div>

    <div class="stat-card">
      <p><i class="fa fa-map-marker" aria-hidden="true"></i> Number of Vending Machines</p>
      <h1>#<%= @vm_number %> </h1>
      <p></p>
    </div>

    <div class="stat-card">
      <p><i class="fa fa-line-chart" aria-hidden="true"></i> Total Income </p>
      <h1>$10,000 </h1>
      <p>125  <i class="fa fa-sort-asc" aria-hidden="true"></i> This month</p>
    </div>
    <div class="stat-card">
      <p><i class="fa fa-line-chart" aria-hidden="true"></i> Total Income </p>
      <h1>$10,000</h1>
      <p>125  <i class="fa fa-sort-asc" aria-hidden="true"></i> This month</p>
    </div>

  </div>
</div>


<div id="my-vm-db" style=" margin-top: 30px" >
        <% @vending_machines.each do |vending_machine|%>
            <div class="card-product m-3">

              <img src="https://cdn-icons-png.flaticon.com/512/821/821356.png"/>
              <div class="db-card-content">
                <div class="card-product-infos">
                  <h2> <%= link_to vending_machine.name, vending_machine_path(vending_machine) %></h2>
                  <p> <strong><%= vending_machine.address%> |</strong> <%= vending_machine.description%> </p>
                </div>

              <%= simple_form_for [vending_machine, @booking] do |f| %>
                      <%= f.submit "Make booking", class: 'btn' %>
                    <% end %>

              </div>

            </div>
        <%end %>
</div>



<h2>Ongoing booking</h2>
    <%  %>
    <% @bookings.each do |booking| %>

            <strong><%= (VendingMachine.find(booking.vending_machine_id)).name VendingMachine.find(booking.vending_machine_id)).address%> </strong>
            From: <%= booking.created_at %>
            To: <%= booking.created_at %>
            <%= link_to 'Mark booking as complete', accept_booking_path(booking), method: :patch %>
            <%= link_to 'Mark booking as declined', decline_booking_path(booking), method: :patch %>

    <% end %>
