<div class="content">
  <div class="db-intro">
    <h1 class="mb-3"> <i class="fa fa-tachometer" aria-hidden="true"></i> My Vendor Dashboard</h1>

  </div>
</div>


<div class="content">
  <div class="stats-db">
    <div class="stat-card">
      <p><i class="fa fa-user-circle" aria-hidden="true"></i> Current Role </p>
      <h1> Vendor </h1>
      <p><i class="fa fa-sort-asc" aria-hidden="true"></i> 3 months</p>
    </div>

    <div class="stat-card">
      <p><i class="fa fa-map-marker" aria-hidden="true"></i> Number of Vending Machines</p>
      <h1>#<%= @vm_number %> </h1>
      <p></p>
    </div>

    <div class="stat-card">
      <p><i class="fa fa-line-chart" aria-hidden="true"></i> Total Revenue </p>
      <% if @bookings_c.count == 0 %>
        <h1> $0 </h1>
      <%else%>
        <h1>$<%= @bookings_c.count * rand(50..100) %></h1>
      <%end%>
      <p> <i class="fa fa-sort-asc" aria-hidden="true"></i> This month</p>
    </div>
    <div class="stat-card">
      <p><i class="fa fa-line-chart" aria-hidden="true"></i> Potential Profits </p>
        <% if @bookings_c.count == 0 %>
        <h1> $0 </h1>
      <%else%>
        <h1>$<%= @bookings_c.count * rand(10..30) %></h1>
      <%end%>
      <p><i class="fa fa-sort-asc" aria-hidden="true"></i> This month</p>
    </div>

  </div>
</div>


  <h1 class="db-header" style="text-align:center; font-weight:bolder"> <i class="fa fa-pie-chart"  aria-hidden="true" style="color:#f8837b"></i> Analytics  </h1>
  <div class="analytics-db-v">

    <div class="charts">
      <h2 style="text-align:center; font-weight:bolder"> Refills by day of the week</h2>
      <%# <%= pie_chart @my_items.group(:list_price).count %>
        <%= line_chart(@my_bookings.where(status: "completed").group_by_day(:created_at).count) %>
    </div>
    <div class="charts">
      <h2 style="text-align:center; font-weight:bolder">Your product categories</h2>
      <%= pie_chart @my_products.group(:category).count, colors: ["#C6D57E", "#D57E7E", "#A2CDCD"] %>
    </div>
    <div class="charts">
      <h2 style="text-align:center; font-weight:bolder"> Auto-Mate Refill History</h2>
      <%= pie_chart @my_bookings.group(:status).count, colors: ["#C6D57E", "#D57E7E", "#A2CDCD"] %>
    </div>
  </div>







<div class="db-content" style="">
  <div id="my-vm-db" style="" >
    <h1 class="db-header" style="text-align:center; font-weight:bolder"> <i class="fa fa-map-marker" aria-hidden="true" style="color:#f8837b"></i> My Auto-Mates  </h1>
     <div class="db-v-btns d-flex justify-content-center">
      <%= link_to  new_vending_machine_path, class:"btn-black", id: "new-vm-btn" do %>
        <i class="fa fa-plus-circle" aria-hidden="true"></i> New Auto-Mate
      <% end %>
      </div>
        <% @vending_machines.each do |vending_machine|%>
            <div class="card-product">
              <img src="https://cdn-icons-png.flaticon.com/512/821/821356.png"/>
              <div class="db-card-content">
                <div class="card-product-infos">
                  <h2> <%= link_to vending_machine.name, vending_machine_path(vending_machine) %></h2>
                  <p> <strong><%= vending_machine.address%> |</strong> <%= vending_machine.description%> </p>
                </div>

                <div class="crud-btns-db">
                  <%= link_to edit_vending_machine_path(vending_machine), class: "btn mb-2" do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to vending_machine_path(vending_machine), method: :delete, class: "btn", data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>
                </div>
              </div>

            </div>
        <%end %>
  </div>
  <div class="list-booking">
          <h1 class="db-header" style="text-align:center; font-weight:bolder"> <i class="fa fa-bookmark" aria-hidden="true" style="color:#f8837b"></i> Ongoing Refills</h1>

            <% @bookings.each do |booking| %>
                  <div class="booking-card text" style="text-align:center">
                      <h2> <strong><%= booking.vending_machine.name %></strong> </h2>
                      <p> Address: <strong> <%= booking.vending_machine.address %> </strong> </p>
                      <p> ⏳Deadline: <%= Time.now + rand(15..120).minutes %></p>
                      <br>
                  </div>
            <% end %>
        </div>
    </div>
  </div>
</div>
