<div class="content">
  <div class="db-intro">
    <h1 class="mb-3">My Dashboard</h1>
    <div class="db-v-btns">
      <%= link_to  new_vending_machine_path, class:"btn-black", id: "new-vm-btn" do %>
       <i class="fa fa-plus-circle" aria-hidden="true"></i> New Machine
      <% end %>
    </div>
  </div>
</div>


<div class="content">
  <div class="stats-db">
    <div class="stat-card">
      <p>Total Income <i class="fa fa-line-chart" aria-hidden="true"></i></p>
      <h1>$10,000</h1>
      <p>125  <i class="fa fa-sort-asc" aria-hidden="true"></i> This month</p>
    </div>

    <div class="stat-card">
      <p>Total Income <i class="fa fa-line-chart" aria-hidden="true"></i></p>
      <h1>$10,000</h1>
      <p>125  <i class="fa fa-sort-asc" aria-hidden="true"></i> This month</p>
    </div>

    <div class="stat-card">
      <p>Total Income <i class="fa fa-line-chart" aria-hidden="true"></i></p>
      <h1>$10,000 </h1>
      <p>125  <i class="fa fa-sort-asc" aria-hidden="true"></i> This month</p>
    </div>
    <div class="stat-card">
      <p>Total Income <i class="fa fa-line-chart" aria-hidden="true"></i></p>
      <h1>$10,000</h1>
      <p>125  <i class="fa fa-sort-asc" aria-hidden="true"></i> This month</p>
    </div>

  </div>
</div>

<div style=" margin-top: 30px" >
    <ul>

        <% @vending_machines.each do |vending_machine|%>
            <li> <%= link_to vending_machine.name, vending_machine_path(vending_machine) %> </li>
            <%= vending_machine.address%>
            - <%= vending_machine.description%>
            <%= link_to edit_vending_machine_path(vending_machine), class: "btn" do %>
               <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
            <%= link_to vending_machine_path(vending_machine), method: :delete, class: "btn", data: { confirm: 'Are you sure?' } do %>
               <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
        <%end %>
    </ul>
</div>
