
<div class="background-holder">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none">
    <polygon fill="#212529" points="0,100 100,0 100,100"/>
  </svg>
  <div class="left-text-intro">
    <h1>We make sure your vending machines stay stocked. 🍬 </h1>
    <p>Join us today for a streamlined solution to make sure your vending machines
    stay filled year round.</p>

    <%# new_user_registration %>
    <div class="bottom-link-intro">
      <% unless user_signed_in? %>
      <div id="intro-elements-grid">
          <%= link_to new_user_registration_path(user: "vendor") do%>
            <i class="fa fa-arrow-right" aria-hidden="true"></i></i> Become a vendor <br>
          <% end  %>
          <%= link_to new_user_registration_path(user: "refiller") do%>
            <i class="fa fa-arrow-right" aria-hidden="true"></i></i> Become a refiller
          <% end  %>
      </div>
      <div id="intro-elements-grid">
        <a href="#" class="btn-black" id="btn-explore">Explore</a>
      </div>
      <% end %>
    </div>
  </div>
  <div class="background-image">
    <%= image_tag "providerimage.png" %>
  </div>
</div>



<div class="content">
  <div class="about-us">
    <h1><i class="fa fa-cogs" aria-hidden="true"></i> How does it work ?</h1>
    <div class="service-cards">
      <div class="service-card">
        <%= image_tag "service-1.png" %>
        <h2>add an Auto-Mate</h2>
        <p>Add a new machine to your dashboard in just a few steps. Let us take care of the rest.</p>
      </div>
      <div class="service-card">
         <%= image_tag "service-2.png" %>
        <h2>Partners refill it</h2>
        <p>Let our network of partners refill your Auto-Mates. Never let them run out of stock again! </p>
      </div>
      <div class="service-card">
         <%= image_tag "service-3.png" %>
        <h2>Observe the trends</h2>
        <p>Get insights on your earnings and activity. </p>
      </div>
      </div>
  </div>
</div>

<div class="content">

  <div class="intro-refiller">
    <div>
      <h1>Become a partner !</h1>
      <h3> Create an account and decide whether you want to manage machines our refill them.  </h3>
      <h3>Our network of refillers will make sure that your machines never run low on stock. </h3>
      <a href="#" class="btn-black join" style="margin-left:44%; margin-right:44%; margin-top:5%;">Join</a>
    </div>
  </div>
</div>

<div class="content">

</div>
