<%# <div class="banner-index">
    <h1> My Auto-mate dashboard </h1>
</div> %>

<div style="height: 400px">
    <ul>
        <% @vending_machines.each do |vending_machine|%>
            <li> <%= link_to vending_machine.name, vending_machine_path(vending_machine) %> </li>
            <%= vending_machine.address%>
            - <%= vending_machine.description%>
            <%= link_to "edit", edit_vending_machine_path(current_user, vending_machine) %>
            <%= link_to "delete", vending_machine_path(current_user, vending_machine), method: :delete %>
            <%# <%= link_to "manage items", vending_machine_items_path(@vending_machine) %>
        <%end %>
    </ul>
</div>

<div style="width: 100%; height: 600px;"
  data-controller="mapbox"
  data-mapbox-markers-value="<%= @markers.to_json %>"
  data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
