<%# <div class="banner-index">
    <h1> My Auto-mate dashboard </h1>
</div> %>

<%# <%= render :partial => "shared/map" %>





<div class="">
  <div class="index-view d-flex justify-content-between">
    <div class="all-vm" style=" margin-top: 30px" >
      <h1> Find an Auto-mate near you ! </h1>
          <% @vending_machines.each do |vending_machine|%>
          <div class="vm-listing d-flex flex-direction-row justify-content-between" style="padding: 10px">
            <div id="card-index">
              <p style="margin-bottom: 20px">
              <%= link_to vending_machine.name, vending_machine_path(vending_machine) %>
              </p>
             <p> <strong><%= vending_machine.address%> |</strong> <%= vending_machine.description%> </p>
            </div>
            <div>
              <%= link_to "Book a refill", vending_machine_path(vending_machine), class: "btn", style: "margin-bottom: 10px" %>
            </div>  <%# <%= link_to "manage items", vending_machine_items_path(@vending_machine) %>

          </div>
          <%end %>
    </div>
    <div id="map"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
