<%# <div class="banner-index">
    <h1> My Auto-mate dashboard </h1>
</div> %>

<%# <%= render :partial => "shared/map" %>





<div class="">
  <div class="index-view d-flex justify-content-between">
    <div class="all-vm" style=" margin-top: 30px" >
          <h1 class="db-header" style="text-align:center; font-weight:bolder"> <i class="fa fa-map-marker" aria-hidden="true" style="color:#f8837b"></i> My Booked Refills</h1>
          <% @vending_machines.each do |vending_machine|%>
          <div class="vm-listing d-flex flex-direction-row justify-content-between" style="padding: 10px">
            <div id="card-index" class="">
              <p style="margin-bottom: 20px">
              <h2><%= link_to vending_machine.name, vending_machine_path(vending_machine) %></h2>
              </p>
              <p> <strong><%= vending_machine.address%> |</strong> <%= vending_machine.description%> </p>
            </div>
            <div class="vm-listing-button d-flex justify-content-around">
                <% if current_user.is_refiller? %>
                  <% if vending_machine.bookings.any? { |booking| booking.status == "pending" } %>
                    <p> <i class="fa fa-clock-o" aria-hidden="true"></i> Ongoing Refill </p>
                  <% else %>
                      <%= simple_form_for [vending_machine, @booking] do |f| %>
                              <%= f.submit "Book for refill", class: 'btn' %>
                      <% end %>
                  <% end %>
                <% end %>
            <%# <%= link_to "Book for refill", vending_machines_path(vending_machine), class: "btn", style: "margin-bottom: 10px" %>
            </div>  <%# <%= link_to "manage items", vending_machine_items_path(@vending_machine) %>

          </div>
          <%end %>
      <%# <button id = "find-me">Show my location</button><br/>  %>
      <%# <p id = "status"></p> %>
      <%# <a id = "map-link" target="_blank"></a> %>
    </div>
    <div id="map"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
</div>
