
<h1 style="text-align:center; margin-top:60px; font-size: 50px">Create your new vending machine!</h1>
<div class="container">
  <div class="new-vending">
    <%= simple_form_for [ @vending_machine ] do |f| %>
          <%= f.input :name %>
          <%= f.input :address %>
          <%= f.input :description %>
          <%= f.submit "Create", class: "btn" %>
        <% end %>
  </div>
</div>
