
                <h1 style="text-align:center" class="m-3">Vending Machine's Stock</h1>
                <h2 style="text-align:center" class="m-3"><strong><%= @vending_machine.name %></strong></h2>
                <p style="text-align:center" class="m-3">📍<%= @vending_machine.address %></p>
                <div class="row">
                      <% @vending_machine.items.each do |item| %>
                        <div class="col-xs-12 col-sm-4 ">
                          <div class="card">
                              <div class="card-body">
                                <h5 class="card-title"><i class="fa fa-cutlery" aria-hidden="true"></i> <strong><%= item.product.name%></strong></h5>
                                <h5> <strong><i class="fa fa-credit-card" aria-hidden="true"></i> <%= item.list_price %>£</strong></h5>
                                <p class="card-text"> <strong>Profit margin:</strong>  <%= item.margin %>%</p>
                                <p class="card-text"> <strong>Stock:</strong> <%= item.quantity %>/<%= item.capacity %> </p>
                                <% if  @vending_machine.user_id == current_user.id  %>
                                <%= link_to "Edit", edit_vending_machine_item_path(@vending_machine, item), class: "btn" %>
                                <%= link_to "Remove", item_path(item), method: :delete, class: "btn", data: { confirm: "Are you sure you want to remove this item from your vending machine ?" } %>
                                <% end %>
                                <%# commented out for demo purposes - start %>
                                <%# if current_user.is_refiller? %>
                                  <%#= simple_form_for [@vending_machine, @booking] do |f| %>
                                    <%#= f.submit "Make booking", class: 'btn' %>
                                  <%# end %>
                                <%# end %>
                                <%# commented out for demo purposes - end %>
                              </div>
                          </div>
                        </div>
                      <% end %>
                </div>


            <% if @vending_machine.user_id == current_user.id %>
                <div class="crud-btns-db">
                  <div class="container my-3" style="width: 500px">
                    <h1> Add an item to your VM: </h1>
                    <%= simple_form_for([@vending_machine, @item]) do |f| %>
                            <%= f.association :product  %>
                            <%= f.input :margin, :label => "Your profit margin" %>
                            <%= f.input :list_price %>

                            <%= f.input :capacity, :label => "Max number for this item in your machine" %>
                            <%= f.submit "Add a product", class: 'btn' %>
                          <% end %>

                  </div>
                </div>
            <% end %>
