
<div class="container my-3" style="width: 500px">
  <h1> Add an item to your VM: </h1>
  <%= simple_form_for([@vending_machine, @item]) do |f| %>
          <%= f.association :product  %>
          <%= f.input :margin, :label => "Your profit margin" %>
          <%= f.input :list_price %>

          <%= f.input :capacity, :label => "Max number for this item" %>
          <%= f.submit "Add a product", class: 'btn' %>
        <% end %>
</div>

<div class="row">
          <% @vending_machine.items.each do |item| %>
            <div class="col-xs-12 col-sm-4 col-sm-offset-1">
              <div class="card" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">🧃 <strong><%= item.product.name%></strong></h5>
                  <h5> <strong><%= item.list_price %>$</strong></h5>
                  <p class="card-text"><%= item.list_price %></p>
                  <%= link_to "Remove", item_path(item), method: :delete, class: "btn", data: { confirm: "Are you sure you want to remove this item from your vending machine ?" } %>
                </div>
              </div>
            </div>
          <% end %>
      </div>
    </div>
