

            <% if current_user.is_vendor? and @vending_machine.user_id == current_user.id %>
                <div class="crud-btns-db">
                  <%= link_to edit_vending_machine_path(@vending_machine), class: "btn mb-2" do %>
                  <i class="fa fa-pencil" aria-hidden="true"></i>
                  <% end %>
                  <div class="container my-3" style="width: 500px">
                    <h1> Add an item to your VM: </h1>
                    <%= simple_form_for([@vending_machine, @item]) do |f| %>
                            <%= f.association :product  %>
                            <%= f.input :margin, :label => "Your profit margin" %>
                            <%= f.input :list_price %>

                            <%= f.input :capacity, :label => "Max number for this item" %>
                            <%= f.submit "Add a product", class: 'btn' %>
                          <% end %>
                  </div>
                  <%= link_to vending_machine_path(@vending_machine), method: :delete, class: "btn", data: { confirm: 'Are you sure?' } do %>
                    <i class="fa fa-trash" aria-hidden="true"></i>
                  <% end %>
                </div>
            <% elsif current_user.is_refiller? %>
              <%= simple_form_for [@vending_machine, @booking] do |f| %>
                      <%= f.submit "Make booking", class: 'btn' %>
                    <% end %>

            <% else  %>
            <% end %>


    <div class="row">
          <% @vending_machine.items.each do |item| %>
            <div class="col-xs-12 col-sm-4 col-sm-offset-1">
              <div class="card" style="width: 18rem;">


                  <div class="card-body">
                    <h5 class="card-title">🧃 <strong> Product name: <%= item.product.name%></strong></h5>
                    <h5> <strong> List price: <%= item.list_price %>$</strong></h5>
                    <p class="card-text"> Margin: <%= item.margin %>%</p>
                    <p class="card-text"> Quantity/Capacity: <%= item.quantity %>/<%= item.capacity %> </p>
                    <%= link_to "Edit", item_path(item), method: :update, class: "btn" %>
                    <%= link_to "Remove", item_path(item), method: :delete, class: "btn", data: { confirm: "Are you sure you want to remove this item from your vending machine ?" } %>
                  </div>




              </div>
            </div>
          <% end %>
      </div>
    </div>
